body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

/*Task Posts*/

.task-post {
    margin-bottom: 60px;
}

.task-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.task-post-meta {
    margin-bottom: 20px;
    color: grey;
    font-style: italic;
}