 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/ToDo.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper light-green accent-3">
                    <a href="#" class="brand-logo">To Do List</a>
                    <ul class="right">
                        <li><a href="index.html">Home</a></li>   
                        <li><a href="admin.html">Admin</a></li>  
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">To Do</h1>
                </div>
                <div class="row">
                    <div class="s12 col main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-green accent-4">
            <div class="container">
                <p><a href="#">Back to Top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @201X Demon
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/ToDo.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="ToDo-Template" type="text/x-handlebars-template">
          {{#each posts}}
           <div class="task-post">
             <h2 class="task-post-title">{{title}}</h2>
             <p class="task-post-meta">At {{format created}} by {{authorEmail}}</p>
             <div>{{content}}</div>
           </div>
          {{/each}}  
      </script>
    </body>
  </html>